<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyGaily"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.dailygaily.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:name=".views.TelaTarefa"
            android:exported="false" />
        <activity
            android:name=".views.MapaEndereco"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbhLFAgK_sKLzdPycqlL9Q1vuejhw9DkE" />

        <activity
            android:name=".views.TelaEdtExercicios"
            android:exported="false" />
        <activity
            android:name=".views.TelaAdcExercicios"
            android:exported="false" />
        <activity
            android:name=".views.TelaAtualizarConta"
            android:exported="false" />
        <activity
            android:name=".views.TelaAnaliseRotina"
            android:exported="false" />
        <activity
            android:name=".views.TelaAdcAgua"
            android:exported="false" />
        <activity
            android:name=".views.TelaConsumoAgua"
            android:exported="false" />
        <activity
            android:name=".views.TelaAdcRefeicao"
            android:exported="false" />
        <activity
            android:name=".views.TelaAlimentacao"
            android:exported="false" />
        <activity
            android:name=".views.TelaExercicios"
            android:exported="false" />
        <activity
            android:name=".views.TelaHumor"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.TelaCadastro"
            android:exported="false" />
        <activity
            android:name=".views.TelaInicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>